
{% extends "service_agency/service_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>

<body>
<center>
<form id="form1" name="form1" method="post" action="add_maintenance1">
      <h1>Add maintenance</h1>
  <table width="500" height="200">

    <tr>


      <td>Name</td>

      <td colspan="3"><input type="text" name="name" id="name" class="form-control" required/></td>
    </tr>
    <tr>
      <td>Mobile</td>

        <td colspan="3"><input type="text" name="name2" id="name2" class="form-control" required pattern="[0-9]{10}"/></td>
    </tr>

      <tr>
          <td colspan="3"> </td>
      </tr>

     <tr>
      <td>Email id</td>
      <th colspan="3"><input type="email" name="name3" id="name3" class="form-control" required/>
     </td>

    </tr>


   <tr>
      <td>Place</td>
      <th colspan="3"><input type="text" name="name4" id="name4" class="form-control" required/>
        &nbsp;</th>

    </tr><tr>
      <th>Post</th>
      <th colspan="3"><input type="text" name="name5" id="name5" class="form-control" required/>
        &nbsp;</th>



    </tr>
      <tr align="center">


        <th colspan="2"><br><input type="submit" name="Add" id="submit" value="Add" class="btn btn-dark" />
    </tr>
  </table>
</form>
</center>
</body>
</html>
{% endblock %}