<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h3>Skyline</h3>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>package name</td>
      <td><label for="package_name"></label>
      <input type="text" name="package_name" id="package_name" /></td>
    </tr>
    <tr>
      <td>Rate</td>
      <td><label for="rate"></label>
      <input type="text" name="rate" id="rate" /></td>
    </tr>
    <tr>
      <td>Validity</td>
      <td><label for="validity"></label>
      <input type="text" name="validity" id="validity" /></td>
    </tr>
    <tr>
      <td>Channels</td>
      <td><input type="checkbox" name="1" id="1" />
      <label for="1"></label>
      <input type="checkbox" name="2" id="2" />
      <label for="2"></label>
      <input type="checkbox" name="3" id="3" />
      <label for="3"></label>
      <input type="checkbox" name="4" id="4" />
      <label for="4"></label></td>
    </tr>
  </table>
</form>
</body>
</html>
