
{% extends "service_agency/service_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<center xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center>
<h3>View cash collector</h3><table width="500" border="0" class="table table-striped">
  <tr>
    <td>S.no</td>
    <td>Name</td>
    <td>Mobile</td>

    <td>Email</td>
      <td>Place</td>

    <td>area</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ loop.index }}</td>
    <td>&nbsp;{{ i['cash_collctor_name'] }}</td>
    <td>{{ i['ph_number'] }}</td>
    <td>&nbsp;{{ i['email'] }}</td>
    <td>&nbsp;{{ i['place'] }}</td>
    <td>{{ i['area'] }}</td>

  <td><p><a href="/edit_cash_collector/{{ i['cash_collector_id'] }}">edit</a></p>
    <p><a href="/delete_cash_collector/{{ i['cash_collector_id'] }}" onclick="return confirm('Do you want to delete')">delete</a></p>
    <p><a href="/workallocate_cashcollector/{{ i['cash_collector_id'] }}">work allocate</a></p></td>
  </tr> {% endfor %}
</table>
</body>
</center>
</html>
{% endblock %}