

{% extends "service_agency/service_header.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<center xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center>
<h3>View internet package</h3>
<table width="500" border="0" class="table table-striped">
  <tr>
    <td>Package No</td>
    <td>package name</td>
      <td>rate</td>
      <td>validity</td>
      <td>speed</td>
  </tr>
    {%  for i in data %}
  <tr>
    <td>{{ loop.index }}&nbsp;</td>
    <td>&nbsp;{{ i['i_package_name'] }}</td>
      <td>{{ i['i_rate'] }}&nbsp;</td>
      <td>{{ i['i_validity'] }}&nbsp;</td>
   <td>{{ i['speed'] }}&nbsp;</td>


         <td>
    <p><a href="/delete_internet_package/{{ i['int_package_id'] }}" onclick="return confirm('Do you want to delete')">delete</a></p>
    </td>
        </tr>
    {% endfor %}
</table>
</body>
</center>
</html>
{% endblock %}